In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("/content/penguins.csv")

In [13]:
df.head(12)

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,7,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,9,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,11,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,12,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007

In [14]:
#Estadisticas basicas de las variables numericas

df.describe()

,Unnamed: 0,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [15]:
#Mostrar tipo de datos

df.info()

#Conteo rapido: (float64/int64) y Caterogicas (object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [16]:
#Cuantas filas y columnas tengo.

df.shape

(344, 9)

In [17]:
#Nuevo Dataframe

df_nuevo = df[['species','bill_length_mm','bill_depth_mm','body_mass_g','sex']]
df_nuevo.head()

  species  bill_length_mm  bill_depth_mm  body_mass_g     sex
0  Adelie            39.1           18.7       3750.0    male
1  Adelie            39.5           17.4       3800.0  female
2  Adelie            40.3           18.0       3250.0  female
3  Adelie             NaN            NaN          NaN     NaN
4  Adelie            36.7           19.3       3450.0  female

In [18]:
#Data Frame con variables seleccionadas

df_ordenado =df.sort_values(by='body_mass_g',ascending=True)
df_ordenado.head()

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
314,315,Chinstrap,Dream,46.9,16.6,192.0,2700.0,female,2008
58,59,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008
64,65,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008

In [19]:
#Filtro Female >3750

filtro_h = df[(df['sex']=='female') & (df['body_mass_g']>3750)]
filtro_h

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
25,26,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007
82,83,Adelie,Torgersen,36.7,18.8,187.0,3800.0,female,2008
110,111,Adelie,Biscoe,38.1,16.5,198.0,3825.0,female,2009
...,...,...,...,...,...,...,...,...,...
284,285,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
286,287,Chinstrap,Dream,46.6,17.8,193.0,3800.0,female,2007
311,312,Chinstrap,Dream,47.5,16.8,199.0,3900.0,female,2008
312,313,Chinstrap,Dream,47.6,18.3,195.0,3850.0,female,2008
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [20]:
#Filtro especie Gentoo

filtro_i = df[(df['species']=='Gentoo')&(df['bill_depth_mm']<18.1)]
filtro_i

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,154,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,156,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,157,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...,...
270,271,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,female,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [21]:
#Columna de multiplicacion

df['multiplicacion_pico'] =df['bill_length_mm']* df['bill_depth_mm']

#Visualizar el resultado
df.head()

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,multiplicacion_pico
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,731.17
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,687.30
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,725.40
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,708.31